{% extends 'base.html' %}

{% load static %}

{% block section %}
   <h2 class="text-center">
       {{ object.first_name }} {{ object.last_name }}
       {% if object.selection_id %}
         ( <a href="{% url "selection-detail" object.selection_id %}">
             {{ object.selection }}
           </a> )
       {% endif %}
    </h2>
    <p class="text-center"><strong>Comentarios: </strong>{{ object.comment|default:"No hay comentarios" }}</p>
   <hr>
{% endblock section %}

{% block maincontent %}
<div class="text-center">
 <div>
     <img src="{% static object.photo.url %}" class="img-fluid" style="width:250px;height:330px" />
 </div>
 <div class="mt-3">
     <a href="{% url "player-update" object.id %}" class="btn btn-primary">Editar</a>
     <a href="{% url "player-delete" object.id %}" class="btn btn-danger ml-2">Eliminar</a>
 </div>
</div>
{% endblock maincontent %}
