{% extends 'base.html' %}
{% load static %}

{% block section %}
    <h2 class="page-title">Equipo de la selección {{ object.name }}</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Jugador</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in object.get_players.all %}
                        <tr>
                            <td>
                                <div class="player-info">{{ p.first_name }} {{ p.last_name }}</div>
                            </td>
                            <td>
                                <div class="player-image">
                                    <a href="{% url 'player-detail' p.id %}">
                                        <img src="{% static p.photo.url %}" class="img-fluid" style="width: 300px; height: 200px;" alt="{{ p.first_name }} {{ p.last_name }}">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center mt-3">
                <a href="{% url 'player-create' %}" class="btn btn-primary">Agregar Nuevo Jugador</a>
            </div>
        </div>
    </div>
{% endblock maincontent %}
